{% extends 'web/layout.html' %}

{% block title %} 
    Account
{% endblock %}

  {% block body %}
    <section class="hero">
      <div class="hero-content">
        <h1>Hello {{account.user_detail.first_name}}!</h1>
        <p>Here are your Account Details!</p>
      </div>
    </section>

    <section class="services">
      <h2>Account</h2>
      <p>Account Number: {{account.account_number}}</p>
      <div class="service-card" style="border: 2px black solid; margin-top: 10px; margin-bottom: 10px;">
        <h3>Cash Balance: {{account.cash_balance}}</h3>
        <button style="margin: 2px;">Add Cash</button>
        <button style="margin: 2px;">Withdraw Cash</button>
      </div>
      <hr style="color:black;">
      <h2>Shares</h2>
      {% if shares|length == 0 %}
        <div class="service-card">
            <h4>No Shares Owned</h4>
            <div lass="service-card" style="border: 2px black solid; margin-top: 10px; margin-bottom: 10px;">
              <h4>Buy some Shares!</h4>
              <a href="{% url 'web:marketplace' %}"><button style="margin: 2px;">Buy Shares</button></a>
            </div>
        </div> 
      {% else %}
        {% for shares in organized_shares %}
          <div class="service-card">
            <h3>{{shares.0.name}}</h3>
            <h3>Current Value: {{shares.0.current_value}}</h3>
            {% for x in shares %}
              <div class="service-card">
                  <h3>{{x.fund_of_shares.name}} share {{x.share_id}}</h3>
                  <h3>Current Value: {{x.current_value}}</h3>
                  <h5>Purchase Price: {{x.share_price_at_purchase}}</h5>
                  {% if x.outstanding %} 
                      <h4>Share is Marked for Sale (outstanding)</h4>
                  {% endif %}
              </div>
          {% endfor %}
          </div>
        {% endfor %}
    {% endif %}
    </section>
    {% endblock %}
  
